.Canvas {
  width: 400px;
  height: 650px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.wordContainer {
  position: absolute;
}

.word {
  transform: translateX(-50%);
}
